{% load static %}
        
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About us</title>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="{% static "imagens/dashowl_colorido_80_56.png" %}" rel="shortcut icon">
    <link href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/themify-icons/css/themify-icons.css" %}" rel="stylesheet">
    <link href="{% static "vendors/flag-icon-css/css/flag-icon.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/selectFX/css/cs-skin-elastic.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">    
   
</head>
<body>
    <!--klb Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "imagens/dashowl_colorido_80_56.png" %}" alt="DashOwl"></a>
                <a class="navbar-brand hidden" href="{% url 'index' %}"><img src="{% static "imagens/dashowl_colorido_80_56.png" %}" alt=" "></a>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse"></div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'index' %}"> <i class="menu-icon fa fa-home"></i>Home</a> <!-- LINK PARA PG PRINCIPAL -->
                    </li>
                    <li>
                        <a href="{% url 'repositories' %}"> <i class="menu-icon fa fa-folder-open"></i>Repositories</a> <!-- LINK PARA PG PRINCIPAL -->
                    </li> 
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Graphics</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-pie-chart"></i><a href="{% url 'milestone' %}">Sprints</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="{% url 'commits' %}">Commits</a></li>
                            <li><i class="menu-icon fa fa-code-fork"></i><a href="{% url 'pull_requests' %}">Pull Requests</a></li>
                            <li><i class="menu-icon fa fa-exclamation"></i><a href="{% url 'issues' %}">Issues</a></li>
                        </ul>
                    </li>                    
                    <li>
                        <a href="{% url 'suport' %}"> <i class="menu-icon fa fa-handshake-o"></i>Support</a> <!-- LINK PARA PG PRINCIPAL -->
                    </li>
                    <li>
                        <a href="{% url 'politics' %}"> <i class="menu-icon fa fa-info-circle"></i>About us</a> <!-- LINK PARA PG PRINCIPAL -->
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside> <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-angle-double-left"></i></a>
                    <div class="header-left">
                        
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{% static "imagens/dashowl_colorido_80_56.png" %}" alt="User Avatar">
                        </a>
                    </div>
                </div>
            </div>

        </header> <!-- Header-->
        <div class="breadcrumbs">            
            <div class="col-sm-12">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">About us</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-6">
          <div class="intro-section" id="home-section">            
            <div class="slide-1" style="background: white" data-stellar-background-ratio="">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-12">
                        <p class="mb-8"></p>
                        <p class="mb-12">
                            <div class="site-section" id="teachers-section" style="background: white">
                                <div class="container" style="background: white">        
                        <h1  data-aos="fade-up" data-aos-delay="100">Time</h1><br/>   
                        <p class="mb-8"  data-aos="fade-up" data-aos-delay="200">  
                                Grupo de Metódos de Desenvolvimento de Software - UnB/FGA 2019.2.
                            </p><br/>        
                        <div class="row">        
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="teacher text-center">
                            <img src="{% static 'images/aila.jpeg' %}"  alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black">Ailamar Alves</h3>
                                <p class="position">Git: ailamaralves</br>ailamar.alvesg@gmail.com</p>
                            </div>
                            </div>
                        </div>
        
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="teacher text-center">
                            <img src="{% static 'images/damarcone.jpeg' %}"  alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black">Damarcones dos Santos</h3>
                                <p class="position">Git: damarcones</br>damarcones@gmail.com</p>
                            </div>
                            </div>
                        </div>
        
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="teacher text-center">
                            <img src="{% static 'images/joao.jpeg' %}"  alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black">Joao Victor de Oliveira</h3>
                                <p class="position">Git: joao15victor08</br>joao15victor08@gmail.com</p>
                            </div>
                            </div>
                        </div>
        
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="teacher text-center">
                            <img src="{% static 'images/kalebe.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black">Kalebe Lopes</h3>
                                <p class="position">Git: KalebeLopes</br>calbkalebe@gmail.com</p>
                            </div>
                            </div>
                        </div> 
                        
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="teacher text-center">
                                <img src="{% static 'images/matheus.jpeg' %}" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                                <div class="py-2">
                                <h3 class="text-black">Matheus Amaral</h3>
                                <p class="position">Git: Matheus-AM</br>mam.macacod@gmail.com</p>
                                </div>
                            </div>
                            </div>               
                        
                        
                        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="teacher text-center">
                            <img src="{% static 'images/murilo.jpeg' %}"  alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4">
                            <div class="py-2">
                                <h3 class="text-black">Murilo Schiler</h3>
                                <p class="position">Git: muriloschiler</br>muriloschiler.ls@gmail.com</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>          
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/init-scripts/chart-js/chartjs-init.js' %}"></script>

</body>

</html>

